.footer-container {
    background-color: #333;
    color: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%; 
    font-size: 0.75rem;
    box-sizing: border-box; 
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-left {
    flex: 1; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
}

.footer-right {
    text-align: center;
    flex: 1; 
    margin-right: 25px;
   
}

.footer-section{
    padding-left: 20px;
}
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
    margin-bottom: 5px;
}

.footer-right .social-links a {
    color: white;
    text-decoration: none;
}

.footer-right .social-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    box-sizing: border-box;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-image {
    width: 150px; 
    height: auto;
    margin-top: 10px;
}

.facebook-logo {
    width: 30px; 
    height: auto;
    padding-bottom: 3px;
    padding-right: 5px;
}

.instagram-logo {
    width: 30px;
    height: auto;
}