/* Entire Footer CSS */
.footer-container {
    background-color: #333;
    color: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%; 
    font-size: 0.75rem;
    box-sizing: border-box; 
    position: absolute;
    /* bottom: 0; */
    left: 0;
}

/* Left Side CSS */
.footer-left {
    flex: 1; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
}

/* Right Side CSS */
.footer-right {
    text-align: center;
    flex: 1; 
    margin-right: 25px;
   
}

/* Hours, Address, Phone Number Section */
.footer-section{
    padding-left: 20px;
}

/* H4 Tags in Footer Section */
.footer-section h4 {
    margin-bottom: 10px;
}

/* P Tags in Footer Section */
.footer-section p {
    margin: 0;
    margin-bottom: 5px;
}

/* Bottom Footer CSS */
.footer-bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    box-sizing: border-box;
}

/* Tequila's Logo in Footer Right Side */
.footer-image {
    width: 150px; 
    height: auto;
    margin-top: 10px;
}

/* Facebook Logo on Footer Right Side */
.facebook-logo {
    width: 30px; 
    height: auto;
    padding-bottom: 3px;
    padding-right: 5px;
}

/* Instagram Logo on Footer Right Side */
.instagram-logo {
    width: 30px;
    height: auto;
}

/* Highlights the Current Day in Hours Section */
.highlight {
    font-weight: bold;
    color: #fd7608; /* Highlight color */
}

/* Phone Number */
.phoneNumber {
    text-decoration: none;
}