.NavBar{
    background-color: #333;
}

.font-face {
    font-family: 'Fort-Death';
    src: url('../../../public/fonts/Fort-Death.ttf.woff') format ('woff');
    font-weight: 400;
    font-style: normal;
  }