@{
    ViewData["Title"] = "Menu";
}

<div class="menu-container">
    <h1 class="display-4">Takeiros Mex-Food Menu</h1>
    <div class="menu-sub-header">
        <a href="#appetizers" class="menu-link">Appetizers</a>
        <a href="#entrees" class="menu-link">Entrees</a>
        <a href="#desserts" class="menu-link">Desserts</a>
        <a href="#drinks" class="menu-link">Drinks</a>
    </div>
</div>