html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.box {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.map {
  height: 85%; /* Adjust height as needed */
  background-color: #eee; /* Placeholder background color for the map */
}

.phoneNumber {
  text-decoration: none;
}

.menuButtons {
  text-align: center;
}

footer {
  text-align: center;
}

.display-4 {
  text-align: center;
}

.menu-container {
  text-align: center; 
}

.menu-sub-header {
  display: flex; 
  justify-content: center; 
  gap: 10px; /* Space between the menu items */
  margin: 20px 0; /* Optional: spacing above and below the menu links */
}

.menu-link {
  text-decoration: none; 
  padding: 10px 20px; /* Space inside each link */
  border: 2px solid transparent; /* Border for links */
  border-radius: 5px;
  color: #000; /* Default text color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions for hover effects */
}

.menu-link:hover,
.menu-link.active {
  background-color: #007bff; /* Background color for hover/active states */
  color: #fff; /* Text color for hover/active states */
  border: 2px solid #007bff; /* Border color for hover/active states */
  border-radius: 5px; /* Optional: rounded corners */
}